body{
    text-align: center;
    background-color: #ccc3cc; 
    color: black;
    margin: 0; 
    padding: 0;
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;



}

#interactive{
    
    margin: 0 auto;
    margin-top: 20px;
    width: 20%;
    text-align: center;
    border: black dotted 1px;
    padding: 10px;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #a9969b;
    

}

/* //add styling for all buttons */
button{
    margin: 10px;
    padding: 10px;
    border: black solid 1px;
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #c3cb92;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
}

button:hover{
    background-color: #e6e6e6;
    color: black;
}

#input-box{
    margin: 0 auto;
    margin-top: 20px;
    width: 18%;
    text-align: center;
    border: black dotted 1px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #c3cb92;
    

}


#explanation{
    margin: 0 auto;
    width: 80%;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    

}

svg {
    position: relative;
    margin: 0 auto;
    display: block;
    border: black solid 1px;
}





.vertex {
    
    stroke: black;
    fill: white;
    stroke-width: 2;
}

.vertex:hover {
    fill: rgb(240, 160, 160);
}

.edge {
    stroke: black;
    stroke-width: 4px;
}


.weight {
    font-size: 17px;
    font-family: Arial;

    /* fill: black; */
    /* background-color: #fff; */
}


.muted {
    stroke: rgb(200,200,200);
}

.highlight {
    stroke: blue;
    stroke-width: 5;
}

.highlight-pink {
    stroke: rgb(201, 11, 234);
    stroke-width: 5;
}

.highlight-blue {
    stroke: blue;
    stroke-width: 5;
}

/*************************************************************
 * NEW SINCE LECTURE 08
 *************************************************************/

.overlay-vertex {
    
    stroke: yellow;
    fill: rgb(0, 0, 0, 20%);
    stroke-width: 5;
    transition-property: cx, cy;
    transition-duration: 500ms;
    
    /* some options: ease (default), ease-in, ease-out, ease-in-out, linear*/
    transition-timing-function: linear;
    /* transition-delay: 500ms; */
}

#input-box{
    
    margin: 0 auto;
    margin-top: 20px;


}




